body {
	background-color: lightGrey;
	font-family: "Montserrat", sans-serif;
	max-width: 90%;
	margin-left: 2em;
	margin-right: 2em;
}

h1 {
	color: red;
	margin-bottom: 0.5em;
}

p {
	margin-top: 0.25em;
	color: black;
}

.container {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.text-input {
	width: 20em;
	border-radius: 5px;
	padding: 1em;
	margin-right: 2em;
}

.play {
	font-size: 1em;
	color: white;
	padding: 1em;
	background-color: red;
	border: none;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
}

.clear {
	font-size: 1em;
	color: white;
	padding: 1em;
	background-color: dimGray;
	border: none;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 1em;
}

